{% extends "e-commerce/base_tp.html" %}

{% block title %}HTML template{% endblock %}

{% block contenido %}
<h1>Usando la herramienta de Django para "extender" HTML</h1>
<h4>Una buena idea para ahorrar tiempo y mantener un estilo</h4>
<ul>
  <li>Una lista... como esta</li>
  <li>Una tablita</li>
  <li>Y el distintos formatos de texto</li>
</ul>

<table>
  <tr>
    <th>Comic</th>
    <th>Precio</th>
    <th>Cantidad</th>
  </tr>
  <tr>
    <td>Spider-Man</td>
    <td>4.99</td>
    <td>4</td>
  </tr>
  <tr>
    <td>X-Men</td>
    <td>2.5</td>
    <td>14</td>
  </tr>
</table>
{% endblock %}